In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [3]:
df = pd.read_csv('data/modified_fake_bills.csv')

df

,is_genuine,diagonal,height_left,height_right,margin_low,margin_up,length
0,True,515.43,104.86,104.95,4.52,2.89,112.83
1,True,514.38,103.36,103.66,3.77,2.99,113.09
2,True,518.07,104.48,103.50,4.40,2.94,113.16
3,True,514.08,103.91,103.94,3.62,3.01,113.51
4,True,515.19,104.28,103.46,4.04,3.48,112.54
...,...,...,...,...,...,...,...
1495,False,515.25,104.38,104.17,4.42,3.09,111.28
1496,False,516.57,104.63,104.44,5.27,3.37,110.97
1497,False,515.40,104.01,104.12,5.51,3.36,111.95
1498,False,516.18,104.28,104.06,5.17,3.46,112.25
1499,False,514.41,104.15,103.82,4.63,3.37,112.07